body{
    font-family: Raleway;
    font-weight: 1.3em;
    margin: 0px;
}
header {
    /* background-color: #323232;*/
    background-color: rgba(50, 50, 50, 0.85);
    position: fixed;
    /* bottom: 0px; */
    width: 100%;
}
nav{
    height: 100px;
    display: flex;
    justify-content: center; /* horiz */
    align-items: center; /* vert */
    color: #fff;
}
main{
    height: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main img{
    border-radius: 100%;
}